.header {
    position: fixed;
    width: 100%;
}

.header_top {
    display: flex;
    background-color: rgb(223, 222, 222);
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.header_top_logo {
    margin-right: auto;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 0px;
}

.header_down {
    display: flex;
    padding: 20px;
    background-color: white;
}

.header_serch {
    display: flex;
    margin-right: auto;
    border: none;
}

.header_input {
    width: 60%;
    padding: 10px;
    border: none;
    background-color: rgb(223, 222, 222);
    border-radius: 10px;
    outline: none;
    margin-left: 23px;
    margin-left: 100px;
}

.div_search_icon {
    width: 45px;
    height: 30px;
}

.search_icon {
    margin-left: 10px;
    width: 40px;
    cursor: pointer;
}

.search_icon:hover {
    width: 45px;
}

.div_shop_icon {
    width: 80px;
    height: 30px
}

.shop_icon {
    width: 70px;
    cursor: pointer;
    margin-left: 10px;
}

.shop_icon:hover {
    width: 80px;
}

.container_lov_icon {
    margin-right: 10%;
}

.div_lov_icon {
    width: 45px;
    height: 30px
}

.lov_icon {
    width: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.lov_icon:hover {
    width: 45px;
}

.registr {
    margin-right: 50px;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
    background-color:  rgb(223, 222, 222);
    border-style:solid;
}

.registr:hover {
    background-color:white;
    border-style: solid rgb(223, 222, 222);
}

.registrh {
    margin-left: 25px;
    margin-right: 25px;
    
}

.avtoriz {
    border-style: solid;
    border-color: rgb(223, 222, 222);
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    
}

.avtoriz:hover {
    background-color: rgb(223, 222, 222);
    border-color: white;
    border-style: solid;
}

.avtorizh {
    margin-left: 25px;
    margin-right: 25px;
}