.menu {
    z-index: 1;
}

.menu_list {
    list-style-type: none;
}

.list {
    cursor: pointer;
    padding: 10px;
}

.list:hover {
    border-radius: 15px;
    /* color: gray;
    background-color: white; */
    background-image: linear-gradient(to right,gray,white);;
}