.prod_det_div {
    display: flex;
}

.prod_det_name {
    padding: 20px;
}

.prod_det_button {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    margin-top: 20%;
    margin-left: 20%;
}

.prod_det_button:hover {
    background-color: rgb(192, 192, 192);
    box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 75%);
    color:white;
}

.prod_det_img {
    box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 75%);
    border-radius: 10px;
}