.slimg {
    width: 60%;
    height: 400px;
}

.slide {
    /* box-shadow: 20px 20px 8px 0 rgb(0 0 0 / 75%); */
    margin-left: 20px;
    max-width: 950px;
}
.thumbs-wrapper.axis-vertical{
    display: none;
}

.carousel-status {
    display: none;
}