.footer {
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(125, 178, 239);
    padding: 20px;
    border-radius: 10px;
    /* min-width: 600px; */
    text-align: center;
}

.logo {
    flex: auto;
    display: grid;
    justify-content: center;
}

.pay {
    flex: auto;
    display: grid;
    justify-content: center;
}

.pay_icon {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.kontakt {
    flex: auto;
    display: grid;
    justify-content: center;
}

.div_fbicon {
    width: 100px;
}

.fbicon {
    width: 150px;
    cursor: pointer;
    border: 5px solid white;
    border-radius: 5px;
}

.fbicon:hover {
    border-style: solid white;
    width: 140px;
}

.visaicon {
    width: 60px;
    flex: auto;
}

.mastercardicon {
    width: 100px;
    flex: auto;
}

.bogicon{
    width: 80px;
    flex: auto;
}
