.header{
    position: sticky;
    top: 0;
    z-index: 5;
}
.header_top{
    display: flex;
    padding: 10px;
    background-color: white;
    font-size:large;
    text-decoration: none;
    /* min-width: 600px; */
}
.header_down{
    background-color: rgb(125, 178, 239);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    /* min-width: 600px; */
}
.headertitle{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#000;
    font-style: italic;
}
.signin{
    background-color: rgb(93, 153, 222);
    width: min-content;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    
}
@media screen and (max-width: 500px) {
    .signin{
        margin-left: auto;
        margin-right: auto;
    }
    .header_down{
        flex-direction: column;
    }
    .registr{
        margin-left: auto;
        margin-right: auto;
    }
}
.signin:hover{
    color: white;
}
.signinbut{
    background-color: rgb(38, 97, 165);
    width: min-content;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
}
.signinbut:hover{
    color: white;
}
.registr{
    background-color: rgb(93, 153, 222);
    width: min-content;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.registr:hover{
    color: white;
}
.sign{
    /* visibility: hidden; */
    top:50px;
    overflow: hidden;
    position: relative;
    width: min-content;
    background-color: rgb(79, 155, 241);
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: currentColor;
}
.signd{
    margin: auto;
    position:fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    background-color: rgba(101, 214, 248, 0.575);
    animation-fill-mode:forwards;
    animation-duration: 1s;
    z-index: 10;
}
@keyframes cddc{
    100% {
        top:0;
    }
}
.inpu{
    background-color: rgb(151, 224, 247);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 75%);;
    display: block;
}
.input{
    background-color: rgb(151, 224, 247);
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 75%);;
    display: block;
    width: 50px;
}

.close{
    background-color: rgb(93, 153, 222);
    width: min-content;
    padding: 5px;
    border-radius: 50%;
    margin-left: auto;
    cursor: pointer;
    color: red;
}
.close:hover{
    background-color: red;
    color: white;
}
.couriers{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.courier{
    margin: auto;
    text-align: center;
    
}
.courierbut{
    background-color: rgb(93, 153, 222);
    text-decoration: none;
    color:#000;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10%;
    cursor: pointer;
}
.courierbut:hover{
    color: white;
}
.table{
    /* width: 100%;
    padding: 20px;
    border-spacing: 5%; */
    text-align: center;
}
.newcourier{
    background-color: rgb(93, 153, 222);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    margin: auto;
    width: fit-content;
}
.newcourier:hover{
    color: white;
}
.courierprop{
    margin: auto;
}
.courierchange{
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.courierchange:hover{
    color: white;
}
.courierdel{
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    margin-left: auto;
    cursor: pointer;
}
.courierdel:hover{
    color: white;
}
.pas{
    visibility: hidden;
    background-color: white;
    border: none;
}
#inpmailp{
    text-align: center;
}
.shop_icn{
    margin-left: auto;
    display: flex;
}
.shop_icon{
    width: 40px;
    height: 40px; 
}
/* .shop_icon:hover{
    width: 70px;
    height: 60px;
} */
.shoppiconn{
    background-color: rgb(79, 155, 241);
    font-size:smaller;
    width: 20px;
    height: 20px;
    padding-bottom: 5px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    margin-left: 20px;
}
/* .shoppicon{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: auto;
    padding: 5px;
    position: relative;
} */
.shop_div{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* min-width: 721px; */
}
ul{
    background-color: rgb(190, 196, 193);
    list-style-type: none;
    text-align: center;
}
li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: #000;
}
.active{
    background-color: aqua;
}
.stat{
    background-color: rgb(190, 196, 193);
}
.stat:hover{
    background-color: gray;
}

/* tr:nth-child(even) {background-color: red;} */
/* .new_shek{
    display: flex;
    flex-wrap: wrap;
} */

.new_shek:hover{
    background-color: rgb(98, 96, 96);
}
table{
    border-collapse: collapse;
    width: 100%;
}
.disabl{
    background-color: aquamarine;
    display: none;
}
.enabl{
    background-color: aqua;
    display: block;
}
.downp{
    display: none;
}
#migeba{
    visibility: hidden;
}
#chabareba{
    visibility: hidden;
}
.increm{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(151, 224, 247);
    width: 30px;
    height: 30px;
    border-radius: 20%;
}
.increm:hover{
    color:white;
    cursor: pointer;
}
.increm_input{
    text-align: center;
    margin: auto;
    align-items: center;
    display: flex;
    width: fit-content;
}
#shekvetebi_button, #daamate_curierad, #update, #daamate_qalaqi, .qalaqi, .daamate_kurieri{
    visibility: hidden;
}
td, tr, th, input{
    text-align: center;
    justify-content: space-evenly;
}
.windou_shekveta{
    margin: auto;
    position:fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    background-color: rgba(101, 214, 248, 0.575);
    animation-fill-mode:forwards;
    animation-duration: 1s;
    z-index: 10;
}
.windou2_shekveta{
    top:50px;
    overflow: hidden;
    position: relative;
    width: min-content;
    background-color: rgb(79, 155, 241);
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: currentColor;
}
.slid{
    width: 750px;
    height: 300px;
    object-fit:contain;
}
.sld{
    justify-content: center;
    align-items: center;
    display: block;
}
.slide{
    margin: 10px;
    width: 750px;
    height: 300px;
    border: 10px solid rgb(79, 155, 241);
    border-radius: 5px;
    box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 75%);
}
/* @media screen and (max-width: 750px) {
    table{

    }
} */
/* @media screen and (max-width: 597px) {
    body{
        min-width: 850px;
    }
    .slid{
        width: 350px;
        height: 200px;
    }
    .slide{
        width: 350px;
        height: 200px;
    }
} */
.shekvetis_sia{
    margin-left: 20px;
}
body{
    /* display: flex;
    width: 100%;
    height: 100%; */
    min-width: 300px;
    /* background-image: linear-gradient( #72c2f1 50%, #7de9ff 100%); */
    /* justify-content: center; */
}
.thumbs-wrapper{
    display: none;
    /* width: 350px;
    height: 100px; */
}
.control-dots{
    display: none;
}
.slide {
    border: none;
    padding: 0;
    height: 250px;
    width: 250px;
}
.title{
    text-decoration: none;
    color: #000;
}
.serch_list{
    background-color: rgb(93, 153, 222);
}
.serch_li:hover{
    background-color: aqua;
}
.search_list{
    background-color: rgb(93, 153, 222);
    position: absolute;
    overflow-y: auto;
    height: 300px;
}

.search_list::-webkit-scrollbar{
    height: 20px;
}
.search_list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
.search_list::-webkit-scrollbar-thumb{
    background-color: rgb(32, 129, 239); 
    border-radius: 10px;
}
.search_list::-webkit-scrollbar-thumb:hover{
    background-color: rgb(21, 66, 246);
}
.serch_li:hover{
    background-color: rgb(246, 100, 21);
}

/* .title:hover{
    text-decoration: wavy;
} */
/* .increm{
    background-color: aqua;
    width: min-content;
} */
/* input{
    background-color: rgb(79, 155, 241);
    border: none;
    border-bottom: 2px solid red;
    width: min-content;
    outline: none;
} */
/* td:nth-child(6){
    background-color: aqua;
} */